.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.servicess{
background-color: #f9f9f9 rgba(30, 30, 30, 1);
margin-top: -70px;
height: 147vh;
}
.title {
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
}

.section {
  margin-top: 50px;
}
.download-container {
  text-align: center;
  margin-top: 40px;
  
}

.download-button {
  display: inline-block;
  padding: 12px 25px;
  background-color: #FD6F00;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.download-button:hover {
  background-color: #FFF;
  color: #FD6F00;
}
.services.light {
  background-color: #f1f1f1;
  color: #000;
  h1{
    color: #000;
  }
}

.services.dark {
  background-color: rgba(30, 30, 30, 1);
  color: #fff;
}
@media (max-width: 430px){
  .container {
  max-width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.servicess{
background-color: #f9f9f9 rgba(30, 30, 30, 1);
margin-top: -10px;
height: 147vh;
}
.title {
  text-align: start;
  color: #fff;
  margin-bottom: 50px;
  font-size: 22px;
}

.section {
  margin-top: 20px;
}
.download-container {
  text-align: start;
  margin-top: 40px;
  
}
p{
  width: 360px;
}
.download-button {
  display: inline-block;
  padding: 12px 25px;
  background-color: #FD6F00;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
}
@media (min-width: 600px) and (max-width: 1024px){
  .servicess{
    margin-left: -350px;
    height: auto;
    p{
      width: 750px;
      font-size: 24px;
    }
    .title{
      text-align: start;
      margin-left: 0px;
      margin-top: 50px;
      font-size: 40px; 
    }
    .download-container{
      text-align: start;
      margin-left: 0px;
      font-size: 24px;
      margin-top: 40px;
    }
  }
}