.projects.light {
  background-color: #f1f1f1;
  color: #000;
  .card{
    background-color: rgba(30, 30, 30, 1);
  }
}
.projects.dark {
  background-color: rgba(30, 30, 30, 1);
  color: #fff;
 
} 
@media (max-width: 430px){
  .cardest{
     display: flex;
      flex-direction: column;
      transform: translateX(-225px);
      width: 100%;
    
  }
}
@media (min-width: 600px) and (max-width: 1024px){
  .cardest{
    display: flex;
    flex-direction: column;
    transform: translateX(-270px);
    width: 100%;
  }
}