*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer{
  background-color: rgba(30, 30, 30, 1);
  width: 100%;
  height: auto;
  color: white;
  padding-left: 175px;
  padding-top: 100px;
  /* margin-top: -134px; */
  img{
    width: 100px;
    margin-left: 445px;
    margin-right: 60px;
    box-shadow: 0 0 64px 0 FD6F00;
    /* filter: brightness(0); */
    
  }
  .boxes{
    gap: 25px;
    display: flex;
    margin-left: 250px;
    p{
      font-size: 17px;
    }
  }
  .downFooter{
    background-color: #121212;
    margin-left: -200px;
    height: 84px;
    margin-top:40px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
}
/* From Uiverse.io by vinodjangid07 */ 
.card1 {
  width: fit-content;
  height: fit-content;
  background-color: #fd6f00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: 360px;
  margin-top: 50px;
  padding: 10px 10px;
  gap: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 8px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-hover {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.text-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.4s ease-in-out;
}

.text-hover:hover::after {
  width: 100%;
}



.footer.light {
  background-color: #f1f1f1;
  color: #000;
  
  .link{
    color: #000;
  }
  .link:hover{
    color: #000;
  }
}
.link:hover{
  color: #fff;
}
.link{
  color: #fff;
}
.footer.dark {
  background-color: rgba(30, 30, 30, 1);
  color: #fff;
}
.downFooter.light {
  /* background-color: #323232; */
  background-color: rgba(30, 30, 30, 1);
  color: #fff;
}

.downFooter.dark {
  background-color: #121212;
  color: #fff;
}


@media (max-width: 430px) {
  footer{
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
    height: auto;
    color: white;
    padding-left: 0px;
    padding-top: 100px;
    /* margin-top: -134px; */
    img{
      width: 100px;
      margin-left: 155px;
      margin-right: 60px;
      box-shadow: 0 0 64px 0 FD6F00;
      /* filter: brightness(0); */
      
    }
    .boxes{
      gap: 0px;
      display: flex;
      margin-left: 0px;
      display: none;
      p{
        font-size: 15px;
      }
    }
    .downFooter{
      background-color: #121212;
      margin-left: 0px;
      height: 84px;
      margin-top:40px;
      display: flex;
      align-items: center;
      justify-content: start; 
      padding-left: 90px;
   
    }
  }
  .card1{
    margin-left: 70px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  footer{
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
    height: auto;
    color: white;
    padding-left: 0px;
    padding-top: 100px;
    /* margin-top: -134px; */
    img{
      width: 100px;
      margin-left: 350px;
      margin-right: 60px;
      box-shadow: 0 0 64px 0 FD6F00;
      /* filter: brightness(0); */
      
    }
    .boxes{
      gap: 0px;
      display: flex;
      margin-left: 200px;
      /* display: none; */
      p{
        font-size: 15px;
      }
    }
    .downFooter{
      background-color: #121212;
      margin-left: 0px;
      height: 84px;
      margin-top:40px;
      display: flex;
      align-items: center;
      justify-content: start; 
      padding-left: 300px;
   
    }
  }
  .card1{
    margin-left: 270px;
  }
  
}